django
djangorestframework
pillow
langchain
langgraph
langchain-community
langchain-google-genai
langchain-huggingface
sentence-transformers
langchain-text-splitters
pydantic-settings
psycopg2-binary
pgvector